:root {
    --standard-pad: 10px;
}

.display-panel {
    border-left: solid 1px var(--border-light);
    border-bottom: solid 1px var(--border-dark);
    border-right: solid 1px var(--border-dark);
    border-top: solid 1px var(--border-light);
    width: fit-content;
    padding: var(--standard-pad);
}

.disabled {
    display: none;
}
